
.navbar__list {
  display: flex;
  gap: 10rem;

}

.navbar__link {

  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 400;
  transition: ease all 0.3s;
}

.navbar__link:hover,
.navbar__link:active {
  color: #0d141a;
}

.navbar__mobile--icon {
  width: 3.6rem;
  height: 3.6rem;
  color: var(--dark);
}

.navbar__mobile {
  display: none;
  cursor: pointer;
  margin-top: .5rem;
}

.navbar__mobile--icon[name="close-outline"] {
  display: none;
}

/* Media Queries */
@media (max-width: 57.5rem) {
  .navbar__mobile {
    display: block;
  }
  .navbar {
    background: #ca0117;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar__link {
    color: #fcfcfc;
  }

  .navbar__open .navbar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .navbar__open .navbar__mobile--icon[name="close-outline"] {
    display: block;
  }

  .navbar__open .navbar__mobile--icon[name="menu-outline"] {
    display: none;
  }
}
