.slider {


    &__img {

        width: 40rem;

        @include respond("big-desktop") {

            width: 70rem;
        }

        @include respond("phone") {
            width: 100%;
            padding-top: 2rem;
        }
    }
}